<table>
  <tr>
    <th>Codigo Usuario</th>
    <th>Cuenta Usuario</th>
    <th>Nombre Usuario</th>
    <th>Contraseña Usuario</th>
    <th>Codigo de Perfil</th>
    <th>Nombre de Perfil</th>
    <th>Indicador de Perfil</th>
    <th>Codigo de Aplicacion</th>
    <th>Nombre de Aplicacion</th>
  </tr>
  <tr *ngFor="let item of lista">
    <th>{{item.codigoUsr}}</th>
    <th>{{item.cuentaUsr}}</th>
    <th>{{item.nombreUsr}}</th>
    <th>{{item.passUsr}}</th>
    <th>{{item.codigoPerfil}}</th>
    <th>{{item.nombrePerfil}}</th>
    <th>{{item.indicadorPerfil}}</th>
    <th>{{item.codigoApp}}</th>
    <th>{{item.nombreApp}}</th>
  </tr>
</table>
