<table>
  <tr>
    <th>Codigo Usuario</th>
    <th>Cuenta Usuario</th>
    <th>Nombre Usuario</th>
    <th>Contraseña Usuario</th>
    <th>Codigo de Perfil</th>
    <th>Nombre de Perfil</th>
    <th>Indicador de Perfil</th>
    <th>Codigo de Aplicacion</th>
    <th>Nombre de Aplicacion</th>
  </tr>
  <tr *ngFor="let item of lista">
    <td>{{item.codigoUsr}}</td>
    <td>{{item.cuentaUsr}}</td>
    <td>{{item.nombreUsr}}</td>
    <td>{{item.passUsr}}</td>
    <td>{{item.codigoPerfil}}</td>
    <td>{{item.nombrePerfi}}</td>
    <td>{{item.indicadorPerfil}}</td>
    <td>{{item.codigoApp}}</td>
    <td>{{item.nombreApp}}</td>
  </tr>
</table>
